:root {
  --cor-principal: #a7727d;
  --cor-secundaria: #f9f5e7;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 80%;
  }
}
